@import 'styles/colors';

.button {
  width: 207px;
  height: 41px;
  background: none;
  color: white;
  border: none;
  // border: 2px solid white;
  &:hover:before {
    animation: buttonAnim 1s linear forwards;
  }
  @keyframes buttonAnim {
    0% {
      border-top: 2px solid #0286ff;
    }

    20% {
      border-top: 2px solid #0286ff;
      border-right: 2px solid #0286ff;
    }
    80% {
      border-top: 2px solid #0286ff;
      border-right: 2px solid #0286ff;
      border-bottom: 2px solid #0286ff;
    }
    100% {
      border-top: 2px solid #0286ff;
      border-right: 2px solid #0286ff;
      border-bottom: 2px solid #0286ff;
      border-left: 2px solid #0286ff;
    }
  }
}
