@import 'styles/colors';

.button {
  text-align: center;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  height: 55px;
  border: none;
  border-radius: 6px;
  background-color: $primary_blue;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: 2px solid #fff;
  overflow: hidden;
  transition: color 1s;
}
