.btn__primary {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 0.5em 2em;
  cursor: pointer;
  overflow: hidden;
}
.btn__primary:before, .btn__primary:after {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #ffffff;
}
.btn__primary:before {
  top: 0;
}
.btn__primary:after {
  bottom: 0;
}
.btn__primary:hover > * > *:before, .btn__primary:hover > * > *:after {
  transform: translate3d(0, 0, 0);
}
.btn__primary:hover > * > * > *:before, .btn__primary:hover > * > * > *:after {
  transform: translate3d(0, 0, 0);
}
.btn__primary > *:before, .btn__primary > *:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #ffffff;
}
.btn__primary > *:before {
  left: 0;
}
.btn__primary > *:after {
  right: 0;
}
.btn__primary > * > *:before, .btn__primary > * > *:after {
  content: "";
  position: absolute;
  left: 0;
  z-index: 9;
  height: 2px;
  width: 100%;
  background-color: #168dff;
}
.btn__primary > * > *:before {
  top: 0;
  transform: translate3d(-105%, 0, 0);
  transition: transform 0.9s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn__primary > * > *:after {
  bottom: 0;
  transform: translate3d(105%, 0, 0);
  transition: transform 0.9s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn__primary > * > * > *:before, .btn__primary > * > * > *:after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 9;
  height: 100%;
  width: 2px;
  background-color: #168dff;
}
.btn__primary > * > * > *:before {
  left: 0;
  transform: translate3d(0, 105%, 0);
  transition: transform 0.9s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn__primary > * > * > *:after {
  right: 0;
  transform: translate3d(0, -105%, 0);
  transition: transform 0.9s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn__secondary {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #0e1a2a;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 0.5em 2em;
  cursor: pointer;
  overflow: hidden;
}
.btn__secondary:before, .btn__secondary:after {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #0e1a2a;
}
.btn__secondary:before {
  top: 0;
}
.btn__secondary:after {
  bottom: 0;
}
.btn__secondary:hover > * > *:before, .btn__secondary:hover > * > *:after {
  transform: translate3d(0, 0, 0);
}
.btn__secondary:hover > * > * > *:before, .btn__secondary:hover > * > * > *:after {
  transform: translate3d(0, 0, 0);
}
.btn__secondary > *:before, .btn__secondary > *:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #0e1a2a;
}
.btn__secondary > *:before {
  left: 0;
}
.btn__secondary > *:after {
  right: 0;
}
.btn__secondary > * > *:before, .btn__secondary > * > *:after {
  content: "";
  position: absolute;
  left: 0;
  z-index: 9;
  height: 2px;
  width: 100%;
  background-color: #168dff;
}
.btn__secondary > * > *:before {
  top: 0;
  transform: translate3d(-105%, 0, 0);
  transition: transform 0.9s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn__secondary > * > *:after {
  bottom: 0;
  transform: translate3d(105%, 0, 0);
  transition: transform 0.9s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn__secondary > * > * > *:before, .btn__secondary > * > * > *:after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 9;
  height: 100%;
  width: 2px;
  background-color: #168dff;
}
.btn__secondary > * > * > *:before {
  left: 0;
  transform: translate3d(0, 105%, 0);
  transition: transform 0.9s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn__secondary > * > * > *:after {
  right: 0;
  transform: translate3d(0, -105%, 0);
  transition: transform 0.9s cubic-bezier(0.4, 0, 0.2, 1);
}

/*# sourceMappingURL=Button.module.css.map */
