@import '../colors.scss';

.card {
  height: 12.5rem;
  max-width: 580px;
  background: #1a304c;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 17px;
  cursor: pointer;

  .card__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 99%;
    height: 99%;

    .card__title {
      color: $primary_white;
      font-size: 29px;
      font-weight: 640;

      margin-bottom: 0;
      line-height: 1.4;
      margin-top: -10px;
      box-sizing: border-box;

      &:hover {
      }

      .card__title:hover {
        -webkit-transition: all 0.4s ease-in;
        transition: all 0.4s ease-in;
        color: $primary_blue;
      }
    }

    .card__footer {
      font-size: 60px;
      color: $primary_white;

      //-webkit-transition: all 0.4s ease-in;
      //transition: all 0.4s ease-in;
      //
      //&:hover {
      //  color: $primary_blue;
      //}
    }
  }
  .card__wrapper__primary {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-top: 15px;
    padding-left: 20px;

    .card__title {
      color: $primary_white;
      font-size: 40px;
    }

    .card__footer {
      height: 80px;
      font-size: 60px;
      color: $primary_white;

      //-webkit-transition: all 0.4s ease-in;
      //transition: all 0.4s ease-in;
      //
      //&:hover {
      //  color: $primary_blue;
      //}
    }
  }

  .card__wrapper__primary:hover {
    .card__title {
      -webkit-transition: all 0.4s ease-in;
      transition: all 0.4s ease-in;
      color: $primary_blue;
    }

    .card__footer {
      transform: rotateY(180deg);
      color: $primary_blue;
      filter: drop-shadow(0 0 0.75rem rgba(250, 250, 250, 0.255));
      -webkit-transition: all 0.4s ease-in;
      transition: all 0.4s ease-in;
    }
  }
}

.card__active {
  @extend .card;

  background: white;
  box-shadow: 0 2px 8px rgb(6, 64, 152);

  cursor: pointer;

  .card__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .card__title {
      font-family: 'Outfit';
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 103.02%;
      letter-spacing: 0.035em;
      color: #0e1a2a;

      &:hover {
        color: #1a304c;
      }
    }
    .card__footer {
      display: flex;
      flex-direction: row;
    }
  }
}

@media screen and (max-width: 1366px) {
  .card {
    .card__wrapper__primary {
      .card__title {
        font-size: 30px;
      }
    }
  }
}

@media (max-width: 450px) {
  .card {

    width: 93vw;
  }
}
