@import '../colors';

$width  : 400px;
$height : 120px;
$primary_color : #3084AC;
$border_color--hover : lighten($primary_color, 80);
$stroke : 2px;
$border: 1px solid darken($primary_color,10);
$transition_duration:200ms;
$pipeline_width: $width+$stroke;
$pipeline_height: $height+$stroke;
$pipes : 4;

@function border-pipeline ($transition_duration, $pipe) {
  @return $transition_duration*$pipe;
}

@mixin border-animation($dimension, $easing ,$pipe )
{
  transition: $transition_duration  $dimension $easing border-pipeline($transition_duration,$pipe);
  -web-kit-transition: $transition_duration  $dimension $easing border-pipeline($transition_duration,$pipe);
}



.card {
  height: 12.5rem;
  background: $secondary_blue;
  //border: 0.2px solid rgba(229, 229, 229, 0.55);
  //border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 17px;
  cursor: pointer;

  .card__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 99%;
    height: 99%;
    //border: 0.2px solid rgba(229, 229, 229, 0.55);

    //&:hover {
    //  border: 2px solid transparent;
    //  transform: scale(1.05);
    //  transition: all 0.2s ease-out;
    //}

    .card__author {
      display: flex;
      flex-direction: column;
      margin: 20px 0;

      h1 {
        font-family: 'Roboto', 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        display: flex;
        align-items: center;
        letter-spacing: 0.15px;
        color: $primary_white;
        mix-blend-mode: normal;
        margin: 0;
      }
    }

    .card__date span {
      font-family: 'Roboto', 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 30px;
      display: flex;
      align-items: center;
      letter-spacing: 0.15px;
      color: #757575;
      mix-blend-mode: normal;
    }

    .card__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: 'Roboto', 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      h4 {
        color: #2196f3;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0;
        /*font-size: 10px;*/
      }
      span {
        color: #757575;
      }
    }
  }
}
