@import '../colors';

.card {
  height: 12.5rem;
  background: $secondary_blue;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 17px;
  cursor: pointer;

  .card__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 99%;
    height: 99%;

    h1 {
      color: $primary_white;
      font-size: 29px;
      font-weight: 640;
      max-width: 200px;
      margin-bottom: 0;
      line-height: 1.4;
      margin-top: -10px;
      box-sizing: border-box;
      text-align: left;
      text-transform: uppercase;

      -webkit-transition: all 0.4s ease-in;
      transition: all 0.4s ease-in;

      &:hover {
        color: $primary_blue;
      }
    }

    .card__footer {
      font-size: 60px;
      color: $primary_white;

      //-webkit-transition: all 0.4s ease-in;
      //transition: all 0.4s ease-in;
      //
      //&:hover {
      //  color: $primary_blue;
      //}
    }
  }
}
.card__active {
  @extend .card;
  height: 12.5rem;
  background: rgba(255, 255, 255, 0.87);
  box-shadow: 0 2px 8px rgb(6, 64, 152);
  padding: 17px;
  cursor: pointer;

  .card__wrapper {
    display: flex;
    flex-direction: column;
    h1 {
      color: $secondary_blue;
      font-size: 36px;
      font-weight: 800;
      max-width: 250px;
      margin-bottom: 0;
      line-height: 1.8;
      box-sizing: border-box;
      text-align: left;

      &:hover {
        color: $secondary_blue;
      }
    }
    .card__footer {
      display: flex;
      flex-direction: row;
    }
  }
}
