.clients__main__container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 0;

  .clients__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 70vw;
    .clients__top__container {
      display: flex;
      justify-content: flex-end;

      .client__main {
        display: flex;
        font-family: 'Outfit', 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 96px;
        line-height: 90.52%;
        letter-spacing: -0.02em;
        color: rgba(2, 134, 255, 0.5);
        h1 {
          font-family: 'Outfit';
          font-style: normal;
          font-weight: 700;
          font-size: 96px;
          line-height: 90.52%;
          letter-spacing: -0.02em;
          color: rgba(2, 134, 255, 0.5);
        }
      }
    }

    .client__bottom__container {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .client__cards {
        display: flex;
        width: 100%;
        align-items: center;
        height: 100%;
        justify-content: space-between;

        .client__title_card {
          display: flex;
          flex-direction: column;
          width: 30%;
          height: 570px;
          background: rgba(247, 247, 248, 0.9);

          .client__card__title {
            font-family: 'Outfit';
            font-style: normal;
            font-weight: 700;
            font-size: 53px;
            line-height: 103.02%;
            letter-spacing: 0.035em;
            color: #0e1a2a;
            padding-left: 19px;
          }
        }

        .bottom__side__card {
          display: grid;
          //justify-self: flex-start;
          //align-self: flex-start;
          gap: 0.8rem;
          width: 68%;
          //height: 570px;
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}
