@import '../colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300&display=swap');

.navigation__section {
  padding-top: 150px;
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;

  .container {
    .form__wrapper {
      display: grid;
      margin-top: 60px;
      grid-auto-columns: 1fr;
      grid-column-gap: 32px;
      grid-row-gap: 32px;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      -ms-grid-rows: auto;
      grid-template-rows: auto;

      .main__right {
        display: flex;
        width: auto;

        flex-direction: column;

        .page__title {
          font-family: 'Outfit';
          font-style: normal;
          font-weight: 700;
          font-size: 106px;
          color: #ffffff;
          padding: 0;
          margin: 0;
          span {
            color: $figma_blue;
          }
        }

        .main__paragraph {
          max-width: 350px;
          text-align: left;
          display: flex;
          font-family: 'Outfit';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;

          color: #ffffff;
        }
      }
    }
  }

  .social__urls {
    width: 100%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 90.52%;
    letter-spacing: -0.05em;
    color: #ffffff;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0px 4rem 0px;
    margin-top: 4rem;

    .social__content {
      display: flex;
      gap: 1rem;

      .social__content__circle {
        background-color: $figma_blue;
        height: 100px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }
    }

    .social__title {
      width: 100%;
      color: #1a304c;
      display: flex;
      justify-content: center;
      padding-top: 2rem;
      font-family: 'Outfit';
      font-style: normal;
      font-weight: 700;
      font-size: 96px;
      line-height: 95.5%;
    }
  }

  .mapp__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10rem 0;

    .mapp__main {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 80%;
      .left__side {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .right__side {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: flex-start;

        .right__side_text {
          display: flex;
          width: 100%;
          color: $figma_blue;
          justify-content: flex-start;
          padding-left: 15px;
        }
        .address {
          display: flex;
          justify-content: center;
          flex-direction: column;
          width: 100%;

          .row__container {
            display: flex;
            align-items: center;
            padding-right: 15px;
            padding-left: 15px;

            :nth-child(1) {
              width: 100%;
            }
            .container__box {
              margin-bottom: 30px;
              padding: 30px 30px 22px;
              cursor: pointer;
              text-align: center;
              background: $secondary_blue;
              .icon {
                font-size: 30px;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                text-align: center;
                line-height: 70px;
                display: inline-block;
                position: relative;
                color: $primary_white;
              }

              .info__box {
                cursor: pointer;
                text-align: center;
                color: $primary_white;
                &:hover {
                  transition: all 0.4s ease-in;
                  color: $primary_blue;
                }
              }
            }
          }
        }
      }
    }
  }
  .form__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 2rem;
    .contact__section__body {
      display: flex;
      gap: 20px;
      .form__main {
        font-family: 'Outfit';
        padding-bottom: 25px;

        form {
          width: 500px;

          .form__field {
            margin-bottom: 25px;
            border: none;
            font-size: 18px;
            display: block;
            width: 100%;
            background: #1a304c;
            padding: 1.5rem 1rem;
            font-family: 'Outfit';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 95.5%;
            color: #ffffff;

            &::placeholder {
              color: $primary_white;
            }
            &::-webkit-input-placeholder {
              /* Edge */
              color: $primary_white;
            }

            &:-ms-input-placeholder {
              /* Internet Explorer 10-11 */
              color: $primary_white;
            }

            &:focus {
              outline: none;
            }
          }
          .textarea {
            @extend .form__field;
            max-width: 580px;
            min-height: 200px;
            min-width: 200px;
            height: auto;
            font-family: 'Outfit';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 95.5%;
            color: #ffffff;
          }
          input {
            line-height: normal;
            //font: inherit;
            margin: 0;
            writing-mode: horizontal-tb !important;
            letter-spacing: normal;
            word-spacing: normal;
            text-transform: none;
            text-indent: 0px;
            text-shadow: none;
            text-align: start;
            appearance: auto;
            cursor: text;
          }
        }
      }
    }

    .contact__section__title {
      display: flex;
      justify-content: flex-end;
      font-family: 'Outfit';
      font-style: normal;
      font-weight: 700;
      font-size: 96px;
      line-height: 95.5%;
      color: #ffffff;
    }
  }
}

@media screen and (max-width: 450px) {
  .navigation__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    pad: 1rem;
    .form__container {
      .contact__section__body {
        display: flex;
        flex-direction: column;
        .map {
          height: 400px;
          width: 500px;
        }
      }
    }
  }
}
