@import '../colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Montserrat:wght@600&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,700;1,300;1,700&family=Roboto&display=swap');

.header__main {
  width: 100vw;
  display: flex;
  justify-content: center;
  transition: ease 0.3s;
}
.header__big {
  position: fixed;
  width: 100vw;
  background-color: white;
  height: 84px;
  top: 0;
  display: flex;
  justify-content: center;
  //transition: ease 0.3s;
  box-shadow: 0 0 8px 0 white;
  transition: ease-in-out 0.3s;
}

.header__wrap {
  width: 70vw;
  height: 84px;
}

.side__bar {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 15px 15px;
  border-radius: 10px;

  .header__logo {
    .hamburger__menu {
      padding: 0;
      display: none;

      .nav__icon4 {
        width: 50px;
        height: 35px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        span {
          display: block;
          position: absolute;
          height: 7px;
          width: 100%;
          background: #1a304d;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: 0.25s ease-in-out;
          -moz-transition: 0.25s ease-in-out;
          -o-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;
        }
        span:nth-child(1) {
          top: 0px;
          -webkit-transform-origin: left center;
          -moz-transform-origin: left center;
          -o-transform-origin: left center;
          transform-origin: left center;
        }
        span:nth-child(2) {
          top: 14px;
          -webkit-transform-origin: left center;
          -moz-transform-origin: left center;
          -o-transform-origin: left center;
          transform-origin: left center;
        }
        span:nth-child(3) {
          top: 28px;
          -webkit-transform-origin: left center;
          -moz-transform-origin: left center;
          -o-transform-origin: left center;
          transform-origin: left center;
        }
      }
      .open {
        @extend .nav__icon4;
        span:nth-child(1) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          top: -7px;
          left: 8px;
        }
        span:nth-child(2) {
          width: 0%;
          opacity: 0;
        }
        span:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          top: 28px;
          left: 8px;
        }
      }
    }
  }

  .header__navigation {
    display: flex;
    width: 650px;

    a {
      margin: 2.2%;

      // padding-bottom: 3px;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      //line-height: 117.52%;
      /* or 16px */
      letter-spacing: 0.1em;
      color: #000000;
      position: relative;
      text-decoration: none;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        //background-color: #18272F;
        background: linear-gradient(
          130deg,
          #484247,
          #1a304d 41.07%,
          #0574da 76.05%
        );
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
      }
      &:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }
      &.active::before {
        transform-origin: left;
        transform: scaleX(1);
      }
    }
    .header__navbar {
      border: transparent;

      .header__navbar__button {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-size: 15px;
        padding: 10px 20px;
        border-radius: 10px;
        background-color: $figma_blue;
        height: 50px;
        margin-left: 2rem;

        .header__navbar__title {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 117.52%;
          letter-spacing: 0.1em;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

@media (width < 1336px) {
  .header__wrap {
    position: relative;
    width: 100%;

    .side__bar {
      display: block;
      background-color: white;
      position: absolute;
      right: 0;
      max-width: 400px;
      height: 90vh;
      .header__column__navigation {
        max-width: 450px;
        min-width: 360px;
        height: 650px;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        align-items: flex-start;

        a {
          margin: 2.2%;
          padding-left: 1.5rem;
          padding-bottom: 0.3rem;

          font-family: 'Inter', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          //line-height: 117.52%;
          /* or 16px */
          letter-spacing: 0.1em;
          color: #000000;
          position: relative;
          text-decoration: none;

          &::before {
            content: '';
            position: absolute;
            width: auto;
            height: 4px;
            border-radius: 4px;
            //background-color: #18272F;
            background: linear-gradient(
              130deg,
              #484247,
              #1a304d 41.07%,
              #0574da 76.05%
            );
            bottom: 0;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform 0.3s ease-in-out;
          }
          &:hover::before {
            transform-origin: left;
            transform: scaleX(1);
          }
          &.active::before {
            transform-origin: left;
            transform: scaleX(1);
          }
        }
        .header__navbar {
          border: transparent;

          .header__navbar__button {
            width: 200px;

            border: none;
            font-size: 15px;
            padding: 10px 20px;
            border-radius: 10px;
            background-color: $figma_blue;
            height: 50px;
            margin-left: 2rem;

            .header__navbar__title {
              font-family: 'Inter';
              font-style: normal;
              font-weight: 700;
              font-size: 14px;
              line-height: 117.52%;
              letter-spacing: 0.1em;
              color: white;
              cursor: pointer;
            }
          }
        }
      }
    }
    .header {
      .header__logo {
        width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .hamburger__menu {
          display: block;
        }
      }
      .header__navigation {
        display: none;
      }
    }
  }
}

@media (max-width: 450px) {
  .header__main {
  }
  .header__big {
    height: 65px;
  }
  .header__wrap {
    .header {
      border-radius: 0px;
      .header__logo {
        .header__img {
          width: 100px;
          height: 25px;
        }
        .hamburger__menu {
          // .open {
          //   width: 35px;
          //   span {
          //     height: 5px;
          //     width: 30px;
          //   }
          // }
          .open {
            span:nth-child(1) {
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg);
              top: 4px;
              left: 9px;
            }
            span:nth-child(2) {
              width: 0%;
              opacity: 0;
            }
            span:nth-child(3) {
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
              top: 25px;
              left: 8px;
            }
          }
          .nav__icon4 {
            width: 30px;

            span {
              height: 5px;
            }
          }
        }
      }
    }
  }
}
