@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@200;300&display=swap");

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__main {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100px;
  z-index: 10;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;

  &__background {
    position: fixed;
  }
}

.header__wrap {
  display: flex;
  //height: 112px;
  line-height: 80px !important;
  width: 65%;
}

.header {
  position: relative;
  display: flex;
  padding: 0 15px;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 10px;
}

.header__logo {
  flex: 0.3;
  display: flex;
  padding: 0 10px;
}

.header__navigation {
  display: flex;
  flex: 0.9;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  align-items: center;

  a {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    //line-height: 117.52%;
    /* or 16px */
    letter-spacing: 0.2em;
    color: #000000;

    //&:hover {
    //  background: linear-gradient(to top, #00538a 4px, transparent 0);
    //}
    //
    //&:active {
    //  background: linear-gradient(to top, #1c91fe 4px, transparent 0);
    //  opacity: 1;
    //  visibility: visible;
    //}
    //&:focus {
    //  background: linear-gradient(to top, #1c91fe 4px, transparent 0);
    //}
  }
}

.header__navbar {
  position: relative;
  right: -90px;
  flex: 0.2;
  padding: 0px 20px 0px 20px;
  margin-left: 30px;
}
