@import '../colors.scss';

.join__main__container {
  display: flex;
  height: 15vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: $secondary_blue;

  .join__top__section {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 103.02%;
    /* or 49px */

    letter-spacing: 0.035em;

    color: #f7f7f8;
  }

  .banner__text:hover {
    color: #0286ff;
    cursor: pointer;
  }
}
