@import '../colors';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,700;1,300;1,700&family=Roboto&display=swap');
.main {
  height: 100vh;
  overflow: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  align-items: center;
  background-image: url(../../public/backgroundImage.png);
  background-repeat: no-repeat;
  background-size: cover;

  .header {
    padding-top: 3rem;
  }

  .header__description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 65vw;
    height: 700px;

    .header__img {
      padding-right: 2rem;
      .image__frame {
        border: 16px solid #0e1a2a;
      }
    }
    .header__text__section {
      .header__text {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 101.52%;
        letter-spacing: 0.045em;
        color: #ffffff;

        .header__text__first {
          color: #0286ff;
        }
      }
      .header__paragraph {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: -0.05em;
        color: #cecece;
      }

      .header__button {
        width: 207px;
        height: 41px;
        background: none;
        color: white;
        border: 1px solid white;
      }

      .header__button:hover {
        border-top: 1px solid #0286ff;
        transition: ease-in 0.3s;
      }
    }
  }
}
