@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,700;1,300;1,700&family=Roboto&display=swap");
.main {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-image: url(../../public/backgroundImage.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.main .header__description {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 700px;
}
.main .header__description .header__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .header__description .header__img .image__frame {
  position: relative;
  left: -55px;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 15px solid #1a304c;
}
.main .header__description .header__text__section {
  position: relative;
  left: -195px;
}
.main .header__description .header__text__section .header__text {
  width: 80%;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 101.52%;
  letter-spacing: 0.045em;
  color: #ffffff;
}
.main .header__description .header__text__section .header__text .header__text__first {
  color: #0286ff;
}
.main .header__description .header__text__section .header__paragraph {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.05em;
  color: #cecece;
}
.main .header__description .header__text__section .header__button {
  width: 207px;
  height: 41px;
  background: none;
  color: white;
  border: 2px solid white;
}
.main .header__description .header__text__section .header__button:hover {
  animation: buttonAnim 5s ease-in;
}
@keyframes buttonAnim {
  0% {
    border-top: 2px solid #0286ff;
  }
  20% {
    border-top: 2px solid #0286ff;
    border-right: 2px solid #0286ff;
  }
  80% {
    border-top: 2px solid #0286ff;
    border-right: 2px solid #0286ff;
    border-bottom: 2px solid #0286ff;
  }
  100% {
    border-top: 2px solid #0286ff;
    border-right: 2px solid #0286ff;
    border-bottom: 2px solid #0286ff;
    border-left: 2px solid #0286ff;
  }
}
.main .header__description .banner__image {
  overflow: hidden;
  position: absolute;
  right: 50px;
  z-index: 9;
}

.hero {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.hero__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  padding-right: 24px;
  padding-left: 24px;
}

@media screen and (max-width: 768px) {
  .hero__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    height: 100%;
  }
}
.hero__container__left {
  width: 100%;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .hero__container__left {
    padding: 5rem 0;
  }
}
@media screen and (max-width: 280px) {
  .hero__container__left {
    line-height: 1.5;
  }
}
.hero__container__left h1 {
  font-size: 4rem;
  color: rgb(14, 114, 178);
}

@media screen and (max-width: 280px) {
  .hero__container__left h1 {
    font-size: 1.5rem;
  }
}
.hero__container__left h2 {
  font-size: 4rem;
  color: #fff;
}

@media screen and (max-width: 280px) {
  .hero__container__left h2 {
    font-size: 2rem;
  }
}
.hero__container__left p {
  font-size: 2rem;
  color: #fff;
  margin-top: 1rem;
  font-weight: 700;
}

@media screen and (max-width: 280px) {
  .hero__container__left p {
    font-size: 1.5rem;
  }
}
.hero__container__btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fb4b4e;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
}

.hero__container__btn:hover:after {
  width: 100%;
}

.hero__container__right {
  text-align: center;
}
.hero__container__right .alien__image {
  animation: float 4s ease-in-out infinite;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  animation-delay: 1s;
}

/*# sourceMappingURL=MainLayout.module.css.map */
