@import '../colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,700;1,300;1,700&family=Roboto&display=swap');

.main_background {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #08121e;
  background-image: radial-gradient(at 43% 61%, #0e1a2a 0px, transparent 50%),
    radial-gradient(at 48% 38%, #0e1a2a 0px, transparent 50%),
    radial-gradient(at 72% 45%, #0e1a2a 0px, transparent 50%);

  .bg__image {
    position: relative;
    z-index: 1;
    transform: translate(80%, 120%);
  }
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    .hero__main__image {
      border: 30px solid #0e1a2a;

      .main__image__container {
        position: relative;
        .slider__buttons {
          position: absolute;
          display: flex;
          transform: translate(50px, -100px);

          div:nth-child(1) {
            cursor: pointer;
            height: 60px;
            width: 60px;
            background-color: #0e1a2a;
          }
          div:nth-child(2) {
            cursor: pointer;
            height: 60px;
            width: 60px;
            background-color: #0574da;
          }
        }
      }
    }

    .hero__title__section {
      h1 {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 600;
        font-size: 50px;

        letter-spacing: 0.045em;
        color: #ffffff;
      }
      p {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 90.52%;
        letter-spacing: -0.05em;
        color: #cecece;
      }
    }
  }
}
