.mini__footer__container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  .horizontal__line {
    background-color: #f7f7f8;
    height: 2px;
    width: 75vw;
    margin: 20px;
  }

  .main__title {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 121.52%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #f7f7f8;
  }

  .secondary__title {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 121.52%;
    text-align: center;
    color: #f7f7f8;
  }

  
}
