@import '../colors.scss';

// .right__testimonial__Section {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 300px;
// }

.testimonials__container {
  padding-bottom: 120px;

  .clients__top__container {
    display: flex;
    justify-content: flex-end;

    .client__main {
      display: flex;
      font-family: 'Outfit', 'Inter', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 96px;
      line-height: 90.52%;
      letter-spacing: -0.02em;
      color: #0286ff;
      h1 {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 96px;
        line-height: 90.52%;
        letter-spacing: -0.02em;
        color: #0286ff;
      }
    }
  }
  .testimonials__cards {
    display: flex;
    gap: 20px;
    .testimonials__first__card {
      width: 20px;
      .testimonials__first__card__title {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;

        letter-spacing: 0.035em;

        color: #0e1a2a;
      }
    }
    .testimonials__second__card {
      height: auto;
      background: #1a304c;
      display: flex;
      width: 80vw;
      .second__card__buttons {
        padding: 1rem;
        display: flex;
        align-items: flex-end;
      }

      .testimonials__card__body {
        height: 300px;
        max-width: 900px;
        padding: 1rem;
        margin: 0px auto 0px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        position: relative;
        .testimonials__left__corner {
          position: absolute;
          transform: translate(-2.5rem, -3.5rem);
        }

        .testimonials__right__corner {
          position: absolute;

          transform: translate(450px, 2.5rem) rotate(-180deg);
        }
        .testimonials__card_body__elements {
          height: auto;
          display: flex;
          gap: 20px;

          width: 400px;

          .testimonials__body__text {
            display: flex;
            flex-direction: column;

            span:nth-child(1) {
              font-weight: 700;
              font-size: 20px;
              font-family: 'Outfit';
            }

            span:nth-child(2) {
              font-family: 'Outfit';
              font-style: italic;
              font-size: 16px;
            }
          }

          .testimonials__card__profile {
            height: 50px;
            width: 50px;
            background-color: #0286ff;
            border-radius: 50%;
          }
        }
        .testimonials__body__paragraph {
          font-weight: lighter;
          font-size: 16px;
          font-family: 'Outfit';
          max-width: 650px;
        }
      }
    }
  }
}
