@import '../colors.scss';

//.right__testimonial__Section {
//        display: flex;
//        align-items: center;
//        justify-content: center;
//        height: 550px;
//      }

.testimonials__container {
  padding-bottom: 120px;

  .clients__top__container {
    display: flex;
    justify-content: flex-end;

    .client__main {
      display: flex;
      font-family: 'Outfit', 'Inter', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 96px;
      line-height: 90.52%;
      letter-spacing: -0.02em;
      color: #0286ff;
      h1 {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 96px;
        line-height: 90.52%;
        letter-spacing: -0.02em;
        color: #0286ff;
      }
    }
  }
  .testimonials__cards {
    display: flex;
    gap: 20px;
    .testimonials__first__card {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 550px;
      .testimonials__first__card__title {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 103.02%;
        /* or 49px */

        letter-spacing: 0.035em;

        color: #0e1a2a;
      }
    }
    .testimonials__second__card {
      width: 1600px;
      height: 300px;
      background: #1a304c;
      display: flex;

      .second__card__buttons {
        padding: 1rem;
        display: flex;
        align-items: flex-end;
      }

      .testimonials__card__body {
        height: 300px;
        width: 800px;

        padding: 1rem;
        margin: 0px auto 0px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        .testimonials__card_body__elements {
          width: auto;
          height: auto;
          display: flex;
          gap: 20px;

          .testimonials__body__text{
            display: flex;
            flex-direction: column;
                span:nth-child(1){
                  font-weight: 700;
                  font-size: 20px;
                  font-family: 'Outfit';
                }

                span:nth-child(2){
                  font-family: 'Outfit';
                  font-style: italic;
                  font-size: 16px;
                  
                }

          }

          .testimonials__card__profile {
            height: 50px;
            width: 50px;
            background-color: #0286ff;
            border-radius: 50%;
          }
        }
        .testimonials__body__paragraph{
          font-weight: lighter;
          font-size: 16px;
          font-family: 'Outfit';
        }
      }
    }
  }
}
