@import '../colors.scss';

.testimonials__container {
  padding-bottom: 3rem;

  .testimonials__main__title {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 90.52%;
    color: #0286ff;
    letter-spacing: -0.02em;
  }
  .testimonials__cards {
    display: flex;
    gap: 20px;
    .testimonials__first__card {
      width: 900px;
      height: 382px;
      background: #f7f7f8;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 25px;
      .testimonials__first__card__title {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 103.02%;
        /* or 49px */

        letter-spacing: 0.035em;

        color: #0e1a2a;
      }
    }
    .testimonials__second__card {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      .testimonials__group__card {
        background-color: #1a304d;
        display: grid;
        grid-template-columns: repeat(2, auto auto);
        padding: 20px;
        gap: 20px;
        .testimonials__card__profile {
          margin-top: 20px;
          background-color: #0286ff;
          border-radius: 50%;
          height: 50px;
          width: 50px;
        }
        .testimonials__card__profile_hr {
          height: 100px;
          width: 1px;
          background-color: white;
          margin-top: 10px;
        }

        .testimonioals__card__comment {
          .testimonials__card__name {
            color: #f7f7f8;
            font-family: 'Outfit';
            font-weight: 600;
          }

          .testimonials__card__paragraph {
            color: #f7f7f8;
            font-family: 'Outfit';
            font-style: italic;
            font-weight: 400;
            font-size: 14px;
            height: auto;
            padding: 0;
          }
        }
      }
    }
  }
}
