$primary_color: #17181a !important;
$body_bg: #020b0d;
$grey_dark: #565656;
$grey_secondary: #2d2d2d;
$primary_white: #fff;
$secondary_white: rgba(247, 247, 248, 0.9);
$transpharent__white: rgba(255, 255, 255, 0.47);
$primary_blue: rgb(14, 114, 178);
$primary_text: rgba(2, 134, 255, 0.5);
$secondary_blue: #1a304c;
$dark_blue: #0e1a2a;
$facebook_color: #4267b2;
$twitter_color: #1da1f2;
$linkedin_color: #0073b2;
$web_color: #e1306c;
$mail_color: #ea4335;
